@import '../../../../common/styles.scss';

.courses-list {
  width:700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height:90%;
}
.courses__showmore-button {
  padding: 5px 0;
  margin:10px;
  text-align: center;
  text-transform: uppercase;
  font-size:15px;
  font-weight: bold;
  background-color:$biruz;
  color: #ffffff;
  cursor: pointer;
}