.footer {
    width:100%;
    .footer__copyright {
        color:white;
        margin:0 auto;
        text-align: right;
        padding: 30px 0px 15px;
        font-size:12px;
    }
}
:host {
    margin-top: auto;
}
