@import '../../../../common/styles.scss';
.courses__elem {
    border-left: 6px solid white;
    margin: 0px 10px 5px 10px;
    padding: 10px 15px;
    display: flex;
    background-color: white;
}
.courses__base-course-group {
    flex-grow: 3;
}
.courses__title {
    margin-right:auto;
    font-weight: bold;
    font-size:16px;
}
.courses__creation-date {
    font-weight: bold;
    font-size: 13px;
    margin-left:20px;
}
.courses__duration {
    font-weight: bold;
    font-size: 13px;
    margin-left:20px;
}
.courses__description {
    width:380px;
    margin-top:7px;
    font-size:12px;
    word-break: break-all;
}
.courses__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.courses__button-group {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.courses__button_edit-button {
    background-color:$biruz;
}
.courses__button_delete-button {
    background-color: $dgrey;
}
.courses__button {
    margin: 3px 0;
    border: none;
    padding:10px 15px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
}
.courses__star {
    color: $biruz;
}
.courses__topRated {
    background-color: white;
}
