@import '../../../../common/styles.scss';
.courses__elem {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    margin: 0px 10px 5px 10px;
    padding: 10px 15px;
    display: flex;
}
.courses__base-course-group {
    flex-grow: 3;
}
.courses__title {
    margin-right:auto;
    font-size:22px;
}
.courses__creation-date {
    font-weight: bold;
    font-size: 13px;
    margin-left:20px;
}
.courses__duration {
    font-weight: bold;
    font-size: 13px;
    margin-left:20px;
}
.courses__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.courses__button-group {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.courses__button_edit-button {
    background-color:green;
}
.courses__button_delete-button {
    background-color: tomato;
}
.courses__button {
    margin: 3px 0;
    border: none;
    padding:10px 15px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
}
.courses__star {
    color: $dgrey;
}
.courses__topRated {
    background-color: #e6f8ff;
}
