<app-load-spinner></app-load-spinner>
<app-header [auth] = "auth"></app-header>
<div class="login-form" *ngIf = "!auth">
    <div class="login-form__header">Login</div>
    <div class="login-form__input-container">
        <input 
            type="email" 
            class="login-form__input login-form__input_name" 
            placeholder="andrew@mail.com"
            [value]='name'
            [(ngModel)]='name'>
        <br>
        <input 
            type="password" 
            class="login-form__input login-form__input_password" 
            placeholder="Пароль: 000000"
            [value]='password'
            [(ngModel)]='password'>
        <br>
        <button (click)='onLoginClick()' class="login-form__button">Login</button>
    </div>
</div>