<div *ngIf='!authService.isAuthenticated()' class="login-form">
    <div class="login-form__header">Login</div>
    <div class="login-form__input-container">
        <input 
            type="text" 
            class="login-form__input login-form__input_name" 
            placeholder="Your name"
            [value]='name'
            [(ngModel)]='name'>
        <br>
        <input type="password" class="login-form__input login-form__input_password" placeholder="Пока без пароля"><br>
        <button (click)='onLoginClick()' class="login-form__button">Login</button>
    </div>
</div>