<app-load-spinner></app-load-spinner>
<app-header [auth] = "false"></app-header>
<div class="login-form" *ngIf = "!auth">
    <h3 class="login-form__header">Login</h3>
    <form 
        class="login-form__input-container" 
        [formGroup] = "form" 
        (ngSubmit) = onLoginClick()>
        <input 
            type="email" 
            class="login-form__input login-form__input_name" 
            placeholder="andrew@mail.com"
            formControlName = "login">
        <br>
        <input 
            type="password" 
            class="login-form__input login-form__input_password" 
            placeholder="Пароль: 000000"
            formControlName = "password">
        <br>
        <button class="login-form__button" type="submit">Login</button>
    </form>
    <app-footer></app-footer>
</div>