<div class="search-panel">
    <div class="search-panel__search-group">
        <input 
            type="search" 
            class="search-panel__input" 
            placeholder="Search.." 
            [value]='searchValue'
            [(ngModel)]='searchValue'
            #searchPanel>
        <button 
            class="search-panel__search-button" 
            (click)='onSearchButtonClick()'>
                Search
        </button>
    </div>
    <button 
        class="search-panel__add-course-button"
        (click) = 'onAddCourseButtonClick()'>
            Add course
    </button>
</div>