<div class="search-panel">
    <div class="search-panel__search-items">
        <input 
            type="search" 
            class="search-panel__input" 
            placeholder="Search.." 
            [value]='searchValue'
            [(ngModel)]='searchValue'
            #searchPanel>
        <button 
            class="search-panel__button search-panel__button_search" 
            (click)='onSearchButtonClick()'>
                Search
        </button>
    </div>
    <button 
        class="search-panel__button search-panel__button_add-course"
        (click) = 'onAddCourseButtonClick()'>
            Add course
    </button>
</div>