.edit-page__duration-value {
  margin-left: 15px;
  font-size:14px;
  font-weight: bold;
}
.edit-page__input-duration {
  box-sizing: border-box;
  width:200px;
  font-size:15px;
  margin-bottom:10px;
  padding:6px;
  border: 1px solid #333;
  &.valid.touched {
    border-color: red;
  }
}