<div class="search-panel">
    <form [formGroup] = "form" class="search-panel__search-items">
        <input 
            type="search" 
            class="search-panel__input" 
            placeholder="Search.." 
            formControlName = "searchValue"
            (keyup)='onSearchButtonClick()'
            #searchPanel>
    </form>
    <button 
        class="search-panel__button search-panel__button_add-course"
        (click) = 'onAddCourseButtonClick()'>
            Add course
    </button>
</div>