@import '../../../../common/styles.scss';

.header {
    background-color: $biruz;
    padding: 10px 0px;

    .header__logo {
        font-weight: bold;
        font-size:16px;
        color: white;
    }
    .header__authorization {
        text-align: right;
        align-items: center;
        display: flex;
        margin-left: auto;
    }
    .header__user-name {
        color:white;
        margin-right:20px;
        text-transform: capitalize;
    }
    .header__log-off {
        background-color: $dgrey;
        border: none;
        color:#ffffff;
        padding:10px 15px;
        font-weight: bold;
        cursor: pointer;
    }
    .header__container {
        margin: 0 auto;
        width:700px;
        height:35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}