.edit-page__input-date {
  box-sizing: border-box;
  font-size: 15px;
  width:350px;
  margin-bottom:10px;
  padding:6px;
  border: 1px solid #333;
  &.valid.touched {
    border-color: tomato;
  }
}
