/* You can add global styles to this file, and also import other style files */
html, body {
    background-color:#333;
    font-family: sans-serif;
    height:100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    width:1000px;
    margin: 0 auto;
    min-height: 100%;
    background-color: #ffffff;
}