.edit-page {
  padding: 5px 10px;
}
.edit-page__label {
  font-size: 14px;
  font-weight: bold;
}
.edit-page__input-title {
  width:200px;
  padding:3px 10px;
  margin-bottom:10px;
  border: 1px solid #bbb;
  &.ng-invalid.ng-touched {
    border-color: red;
  }
}
.edit-page__description {
  padding:3px 10px;
  font-family: sans-serif;
  margin-bottom:10px;
  height:100px;
  width:500px;
  &.ng-invalid.ng-touched {
    border-color: red;
  }
}
.edit-page__buttons {
  margin-top:10px;
}
.edit-page__save-btn {
  margin-right: 15px;
  border: none;
  padding:10px 15px;
  font-weight: bold;
  cursor: pointer;
  background-color:green;
  color:hsl(0, 0%, 100%);
  &:disabled {
    background-color:#888;
    cursor: default;
  }
}
.edit-page__close-btn {
  margin-right: 15px;
  border: none;
  padding:10px 15px;
  font-weight: bold;
  cursor: pointer;
  background-color:#333333;
  color:hsl(0, 0%, 100%);
}
.edit-page__error-messages {
  margin-bottom: 10px;
  color: red;
  font-weight: bold;
}