<app-load-spinner></app-load-spinner>
<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<form class="edit-page" [formGroup] = "form" (ngSubmit) = "submit()">
  <h3>{{ title }}</h3>
  <input 
    formControlName="title"
    type="text" 
    placeholder="title" 
    class="edit-page__input-title"><br>
  <textarea 
    formControlName="description"
    placeholder="description" 
    class="edit-page__description">
  </textarea><br>
  <app-date-input formControlName = "creationDate"></app-date-input><br>
  <app-duration-input formControlName = "duration"></app-duration-input>
  <p>
    Top Rate
    <input 
      formControlName="topRated"
      type="checkbox" 
      [checked] = "newCourse.topRated">
  </p>
  <div class="edit-page__authors">authors</div>
  <div class="edit-page__buttons">
    <button 
      *ngIf = 'isNewCourse()'
      type = "submit"
      class="edit-page__save-btn"
      [disabled] = form.invalid>
      {{ title }}
    </button>
    <button 
      *ngIf = '!isNewCourse()' 
      type = "submit"
      class="edit-page__save-btn">
      {{ title }}
    </button>
    <button 
      class="edit-page__close-btn" 
      type = "button"
      (click) = 'onCloseBtnClick()'>
      Cancel
    </button>
  </div>
</form>