.edit-page {
  padding: 5px 10px;
}
.edit-page__input-title {
  width:200px;
}
.edit-page__input-date {
  width:200px;
  margin-top:10px;
}
.edit-page__input-duration {
  width:200px;
  margin-top:10px;
}
.edit-page__authors {
  margin-top:10px;
  padding:5px 10px;
  border: 1px solid #bbb;
}
.edit-page__description {
  margin-top: 10px;
  width:100%;
}
.edit-page__buttons {
  margin-top: 10px;
}
.edit-page__save-btn {
  margin-right: 15px;
  border: none;
  padding:10px 15px;
  font-weight: bold;
  cursor: pointer;
  background-color:green;
  color:hsl(0, 0%, 100%);
}
.edit-page__close-btn {
  margin-right: 15px;
  border: none;
  padding:10px 15px;
  font-weight: bold;
  cursor: pointer;
  background-color:#333333;
  color:hsl(0, 0%, 100%);
}
.edit-page__duration-value {
  margin-left: 15px;
  font-size:14px;
  font-weight: bold;
}