.edit-page__select-author {
  width:200px;
  padding:3px 10px;
}
.edit-page__authors {
  display: flex;
  flex-wrap: wrap;
  width:580px;
  margin-top:10px;
  margin-bottom:10px;
  padding:0 10px;
  border: 1px solid #bbb;
}
.edit-page__author-cloud {
  text-transform: capitalize;
  padding:4px 10px;
  color: white;
  background: #333;
  font-weight: bold;
  font-size: 14px;
  margin:5px 10px 5px 0;
  &:hover {
    cursor: pointer;
  }
}
.author-cloud__cross {
  margin-left: 10px;
  &:hover {
    color: red;
  }
}
.edit-page__option-group {
  position: absolute;
  background:white;
}
.edit-page__option {
  width:202px;
  font-size: 13px;
  padding: 3px 10px;
  text-transform: capitalize;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  &:hover {
    cursor: pointer;
    background: #bbb;
  }
}