@import '../../../../common/styles.scss';

.edit-page__select-author {
  border: none;
  outline: none;
  width:30%;
  height:28px;
  padding:3px 6px;
  font-size:15px;
}
.edit-page__authors {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width:350px;
  padding:0 10px;
  background-color: white;
  border: 1px solid #bbb;
  &.valid.touched {
    border-color: tomato;
  }
}
.edit-page__author-cloud {
  text-transform: capitalize;
  padding:6px 10px 4px;
  color: white;
  background: $biruz;
  font-weight: bold;
  font-size: 12px;
  margin:5px 10px 5px 0;
  &:hover {
    cursor: pointer;
  }
}
.author-cloud__cross {
  margin-left: 10px;
  &:hover {
    color: red;
  }
}
.edit-page__option-group {
  color:#000;
  position: absolute;
  background:white;
}
.edit-page__option {
  box-sizing: border-box;
  width:350px;
  font-size: 13px;
  padding: 5px 15px;
  text-transform: capitalize;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  &:hover {
    cursor: pointer;
    background: #bbb;
  }
}