<input
  class = "edit-page__select-author"
  placeholder="search authors"
  type = "text"
  [value] = "value"
  [(ngModel)] = "value"
  (keyup)='onSearchKeyUp(value)'>
<div class = "edit-page__option-group">
  <div 
    class = "edit-page__option" 
    *ngFor = "let user of authorsList">
    {{ user }}
  </div>
</div>
<div class="edit-page__authors">
  <div
    *ngFor = "let author of authors" 
    class = "edit-page__author-cloud">{{ author }}
    <i class="author-cloud__cross fa fa-times"></i>
  </div>
</div>
