<div 
  class="edit-page__authors"   
  [ngClass] = "{ valid:!validState.valid, touched:validState.touched }">
  <div
    *ngFor = "let author of authors; let i = index" 
    class = "edit-page__author-cloud">{{ sliceAuthorName(author) }}
    <i 
      class="author-cloud__cross fa fa-times"
      (click) = "deleteAuthorFromInput(i)">
    </i>
  </div>
  <input
    class = "edit-page__select-author"
    placeholder="search authors"
    type = "text"
    [(ngModel)] = "value"
    (keyup)='onSearchKeyUp(value)'
    (blur) = "searchBlur()">
</div>
<div class = "edit-page__option-group">
  <div 
    class = "edit-page__option" 
    *ngFor = "let user of authorsList"
    (click) = "setAuthorToInput(user)">
    {{ user }}
  </div>
</div>
